@model SocialEvents.Model.Location

@{
    ViewBag.Title = Resources.Btn_Delete;
}


<!-- MIDDLE-->
<div class="col-md-12">

    <!--page title & breadcrumb-->
    <header id="page-header">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">الرئيسة</a></li>
            <li><a href="@Url.Action("Index","Location")">@Resources.Location</a></li>
        </ol>
        <h1><i class='fa fa-fw fa-location-arrow'></i> @ViewBag.Title</h1>

    </header><!--./page title & breadcrumb-->

    <div id="content">

        <div class="col-lg-12">
            <br />
            <ul>
                <li>يتيح حذف الفاعلية</li>
            </ul>
        </div>

        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!--col: left-->
            <div class="col-md-12 col-lg-12">
                <div id="" class="panel panel-default">

                    <div class="panel-heading">

                        <span class="elipsis">
                            <!-- panel title -->
                            <strong><i class="fa fa-fw fa-plus"></i> @Resources.Btn_Delete  @Resources.Location</strong>
                        </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="إغلاق/فتح"></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <!-- panel content -->
                    <div class="panel-body">
                        <dl class="">
                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Longitude)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Longitude)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Latitude)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Latitude)
                            </dd>
                        </dl>

                        <hr />
                        <div class="col-md-12">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="حذف" class="btn btn-block btn-primary" />
                                    @Html.ActionLink("رجوع", "Index", null, new { @class = "btn btn-block  btn-info" })

                                </div>
                            }
                        </div>

                    </div>
                    <!-- /panel content -->

                </div>
            </div>
            <!--./col left-->

        </div>

    </div>

</div>
<!-- /MIDDLE -->
