@using SocialEvents.Web.Helpers;
@{
    ViewBag.Title = Resources.SocialEvents;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var arLang = CultureHelper.IsRighToLeft();
    var controllerName = ViewContext.Controller.GetType().Name;
    var actionName = ViewContext.RouteData.GetRequiredString("action");
    actionName = actionName == "Index" ? "" : "/" + actionName;
    controllerName = controllerName.Replace("Controller", "");
}
@helper selected(string c, string culture)
{
    if (culture.Contains(c))
    {
        @:hidden
    }
}
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="Author" content="RCJ IT Department" />
    <title>@ViewBag.Title</title>
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />



    <!-- FONT AWESOME -->
    @*<link href="~/assets/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
        <script src="~/assets/js/fontawesome.js"></script>*@

    <!-- Bootstrap -->
    @Styles.Render("~/bootstrap/css")

    @if (CultureHelper.IsRighToLeft())
    {
        @Styles.Render("~/rtl-ar/css")
    }

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
    html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/
    respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <!-- WRAPPER -->
    <div id="wrapper" class="clearfix">

        <!--
            ASIDE
            Keep it outside of #wrapper (responsive purpose)
        -->
        <aside id="aside">
            <!--
                Always open:
                <li class="active always-open">

                LABELS:
                    <span class="label label-danger pull-right">1</span>
                    <span class="label label-default pull-right">1</span>
                    <span class="label label-warning pull-right">1</span>
                    <span class="label label-success pull-right">1</span>
                    <span class="label label-info pull-right">1</span>
            -->
            <nav id="sideNav">
                <!-- MAIN MENU -->
                <ul class="nav nav-list">
                    <li class="active">
                        <!-- dashboard -->
                        <a class="dashboard" href="@Url.Action( "Index", "Home")">
                            <i class="main-icon fa fa-home"></i> <span>الرئيسة</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="#">
                            <i class="fa fa-menu-arrow pull-right"></i>
                            <i class="main-icon fa fa-calendar"></i> <span>الفعاليات</span>
                        </a>
                        <ul>
                            <!-- submenus -->
                            <li><a href="@Url.Action( "Index", "Event")"><i class="fa fa-fw fa-list"></i> استعراض الفعاليات</a></li>
                            <li><a href="@Url.Action( "Create","Event")"><i class="fa fa-fw fa-plus"></i> إضافة فعالية جديدة</a></li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#">
                            <i class="fa fa-menu-arrow pull-right"></i>
                            <i class="main-icon fa fa-cog"></i> <span>إدارة النظام</span>
                        </a>
                        <ul>
                            <!-- submenus -->
                            <li><a href="@Url.Action( "PendingEvents", "Event")"><i class="fa fa-fw fa-check-square-o"></i> اعتماد الفعاليات</a></li>
                            <li><a href="@Url.Action( "Index", "Announcement")"><i class="fa fa-fw fa-bullhorn"></i> التعاميم</a></li>
                            @*<li><a href="@Url.Action( "Index", "Notification")"><i class="fa fa-fw fa-flag"></i> التنبيهات</a></li>*@
                            <li><a href="@Url.Action("Index","Report")"><i class="fa fa-fw fa-file-pdf-o"></i> التقارير</a></li>
                            @*<li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> الإحصاءيات</a></li>*@
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-menu-arrow pull-right"></i>
                            <i class="main-icon fa fa-sliders"></i> <span>إعدادات النظام</span>
                        </a>
                        <ul>
                            <!-- submenus -->
                            <li><a href="@Url.Action( "Index", "Location")"><i class="fa fa-fw fa-map-signs"></i> المواقع</a></li>
                            <li><a href="@Url.Action( "Index", "Category")"><i class="fa fa-fw fa-sitemap"></i> التصنيفات</a></li>
                            <li><a href="@Url.Action("Index", "TargetGroup")"><i class="fa fa-fw fa-user-circle"></i> الفئات المستهدفة</a></li>
                            @*<li><a href="#"><i class="fa fa-fw fa-users"></i> الإدارات وَ المستخدمين</a></li>*@
                        </ul>
                    </li>
                    <!--<li class="">
                        <a href="#">
                            <i class="fa fa-menu-arrow pull-right"></i>
                            <i class="main-icon fa fa-mobile"></i> <span>إعدادات التطبيق</span>
                        </a>
                        <ul>-->
                    <!-- submenus -->
                    <!--<li><a href="#"><i class="fa fa-fw fa-address-card"></i> معلومات التواصل</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-address-card-o"></i> معلومات التطبيق</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-toggle-on"></i> الإتاحة</a></li>
                        </ul>
                    </li>-->

                </ul>

                <!-- 2nd MAIN LIST -->
                <!--<h3 class="sr-only">خدمات المطور</h3>
                <ul class="nav nav-list">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-menu-arrow pull-right"></i>
                            <i class="main-icon fa fa-code"></i> <span>خدمات المطور</span>
                        </a>
                        <ul>-->
                <!-- submenus -->
                <!--<li><a href="#"><i class="fa fa-fw fa-info-circle"></i> معلومات النظام</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-book"></i> سجل الأخطاء</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-id-badge"></i> مديري النظام</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-wrench"></i> صيانة النظام</a></li>
                        </ul>
                    </li>
                </ul>-->

            </nav>

            <span id="asidebg"><!-- aside fixed background --></span>
        </aside>
        <!-- /ASIDE -->
        <!-- HEADER -->
        <header id="header">

            <!-- Mobile Button -->
            <button id="mobileMenuBtn"></button>

            <!-- Logo -->
            <span class="logo pull-left">
                <a href="default.html"><img src="~/assets/images/logo_org.png" alt="admin panel" height="35" /></a>
            </span>

            <!--<form method="get" action="" class="search pull-left hidden-xs">
                <input type="text" class="form-control" name="k" placeholder="البحث عن..." />
            </form>-->

            <nav>

                <!-- OPTIONS LIST -->
                <ul class="nav pull-right">

                    <!-- USER OPTIONS -->
                    <li class="dropdown pull-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img class="user-avatar" alt="" src="~/assets/images/noavatar.jpg" height="34" />
                            <span class="user-name">
                                <span class="hidden-xs">
                                    سلطان العتيبي
                                </span>
                            </span>
                        </a>

                    </li>
                    <li class="dropdown pull-left">
                        <div class="">
                            <!--Start Language-->
                            <a href="@Url.Action("SetCulture", new { culture = "en", url = Request.Url.AbsoluteUri })" class="change_lang bring_left btn @selected("en", culture)" title="English">EN</a>
                            <a href="@Url.Action("SetCulture", new { culture = "ar-EG", url = Request.Url.AbsoluteUri })" class="change_lang bring_left btn @selected("ar", culture)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif" title="عربي">ع</a>
                            <!--/End Language-->
                        </div>

                    </li>
                    <!-- /USER OPTIONS -->

                </ul>
                <!-- /OPTIONS LIST -->

            </nav>

        </header>
        <!-- /HEADER -->
        <!--
            MIDDLE
        -->
        <section id="middle">

            <div id="content" class="padding-20">

                <div class="row">

                    @RenderBody()

                </div>

            </div>

        </section>
        <!-- /MIDDLE -->

    </div>




    <!-- JAVASCRIPT FILES -->

    @Scripts.Render("~/bundles/jquery")
    @* @Scripts.Render("~/bootstrap/js")*@
    <script type="text/javascript">
        var plugin_path = '/assets/plugins/';
    </script>
    @* <script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>*@

    <!-- PAGE LEVEL SCRIPT -->






    <script type="text/javascript">
        /*
            Toastr Notification On Load

            TYPE:
                primary
                info
                error
                success
                warning

            POSITION
                top-right
                top-left
                top-center
                top-full-width
                bottom-right
                bottom-left
                bottom-center
                bottom-full-width

            false = click link (example: "http://www.stepofweb.com")
        _toastr("أهلاً سلطان، لديك 5 تنبيهات جديدة","top-center","error",false);
        */




        /** الفئات CHART
        ******************************************* **/
        //loadScript(plugin_path + 'chart.chartjs/Chart.min.js', function () {


        //});


    </script>
    <script>
        $(function () {
            $('.select2').select2({
                dir: "@(SocialEvents.Web.Helpers.CultureHelper.IsRighToLeft() ? "rtl": "ltr"))"
            });
         MyDataTable = $("table.dataTable").not('.noDataTable').DataTable({
                    "responsive": false,
                    //"ordering": false,
             "language": {
                        "url": "@(SocialEvents.Web.Helpers.CultureHelper.IsRighToLeft() ? Url.Content("~/language/arabic.json")    : Url.Content("~/language/english.json"))"
                    },
                    "columnDefs": [
                        {
                        "targets": -1,
                        "orderable": false
                    },
                    ],

             dom: 'Bfrtip',
                    buttons: [
                            {
                                extend: 'print',
                                text: '@SocialEvents.Resources.Resources.Print',
                                key: {
                                    key: 'p',
                                    altkey: true
                                }
                            },
                            {
                                extend: 'excel',
                                text: '@SocialEvents.Resources.Resources.Excel',
                                key: {
                                    key: 'e',
                                    altkey: true
                                }
                        }

             ],
             initComplete: function () {
                 this.api().columns(".Searchable").every(function () {
                     var column = this;
                     var select = $('<select class="select2 form-control"><option value="">الكل</option></select>')
                         .appendTo($(column.footer()).empty())
                         .on('change', function () {
                             var val = $.fn.dataTable.util.escapeRegex(
                                 $(this).val()
                             );
                             column
                                 .search(val ? '^' + val + '$' : '', true, false)
                                 .draw();
                         });

                     column.data().unique().sort().each(function (d, j) {
                         select.append('<option value="' + d + '">' + d + '</option>')
                     });
                     $('.select2').select2();
                 });
             },
                });


                MyDataTable.on('init', function () {
                    $(".dt-buttons :button").removeClass("dt-button ").addClass("btn btn-default");
                    $("#DataTables_Table_0_filter .input-sm").removeClass("input-sm ").css("margin", "0 10px");
                    var pageNumber = sessionStorage.getItem(window.location.protocol + "/dt.page");
                    if (pageNumber) {
                        MyDataTable.page(parseInt(pageNumber)).draw('page');
                    }
                });
                // save the table page nubmer before redirect
                window.addEventListener('beforeunload', function (e) {
                    if ($('table:not(.noDataTable)').length != 0) {
                        var table = $('table').DataTable();
                        var info = table.page.info();
                        console.log("Set page Number in seetion " + info.page);
                        sessionStorage.setItem(window.location.protocol + "/dt.page", info.page);
                    }


                });
        });
    </script>

    @RenderSection("scripts", false)
</body>
</html>
