@model SocialEvents.Model.Event

@{
    ViewBag.Title = "التفاصيل";
}

<!-- MIDDLE-->
<div class="col-md-12">

    <!--page title & breadcrumb-->
    <header id="page-header">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">الرئيسة</a></li>
            <li><a href="@Url.Action("Index","Event")">الفاعليات</a></li>
        </ol>
        <h1><i class='fa fa-fw fa-calendar'></i> @ViewBag.Title</h1>

    </header><!--./page title & breadcrumb-->

    <div id="content">

        <div class="col-lg-12">
            <br />
            <ul>
                <li>يتيح عرض تفاصيل الفاعلية</li>
            </ul>
        </div>

        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!--col: left-->
            <div class="col-md-12 col-lg-12">
                <div id="" class="panel panel-default">

                    <div class="panel-heading">

                        <span class="elipsis">
                            <!-- panel title -->
                            <strong><i class="fa fa-fw fa-plus"></i> التفاصيل</strong>
                        </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="إغلاق/فتح"></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <!-- panel content -->
                    <div class="panel-body">
                        <dl class="">
                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Category.Name)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Category.Name)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Department.DepartmentNameAr)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Department.DepartmentNameAr)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Location.Name)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Location.Name)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.TargetGroup.Name)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.TargetGroup.Name)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.EventNumber)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.EventNumber)
                            </dd>
                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Address)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.DateFrom)
                            </dt>

                            <dd class="col-md-4">
                                @Model.DateFrom.ToShortDateString()
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.DateTo)
                            </dt>

                            <dd class="col-md-4">
                                @Model.DateTo.ToShortDateString()
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.TimeFrom)
                            </dt>

                            <dd class="col-md-4">
                                @DateTime.Today.Add(Model.TimeFrom).ToShortTimeString()
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.TimeTo)
                            </dt>

                            <dd class="col-md-4">
                                @DateTime.Today.Add(Model.TimeTo).ToShortTimeString()
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Fees)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Fees)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.TargetAge)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.TargetAge)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.EventUrl)
                            </dt>

                            <dd class="col-md-4" style=" overflow-wrap: break-word;">
                                @Html.DisplayFor(model => model.EventUrl)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.FacebookUrl)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.FacebookUrl)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.twitterUrl)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.twitterUrl)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.InstagramUrl)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.InstagramUrl)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.State)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.State)
                            </dd>
                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Reaseon)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Reaseon)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Notifiable)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Notifiable)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Published)
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Published)
                            </dd>

                        </dl>

                        <hr />
                        <div class="col-md-12">
                            @Html.ActionLink("رجوع", "Index",null,new { @class = "btn btn-block  btn-info" })
                        </div>

                    </div>
                    <!-- /panel content -->

                </div>
            </div>
            <!--./col left-->

        </div>

    </div>

</div>
<!-- /MIDDLE -->

